.body {
  font-family: 'Poiret One', cursive;
}

.task-table {
  background-color: #cccccc;
}

td {
  border-top: 1px solid #5BC0DE;
}

.table-labels {
  font-weight: 200;
}

.priority .btn-info {
  border-radius: 0;
}

.selected {
  background-color: green;
}

.completed {
  text-decoration: line-through;
}