.task-table {
  background-color: #cccccc;
}

.table-labels {
  font-weight: 200;
}

.priority .btn-info {
  border-radius: 0;
}

.selected {
  background-color: green;
}

.completed {
  text-decoration: line-through;
}